<h1>Burger Menu</h1>

<h2>Burgers Currently Available</h2>
    <ul>
        {{#each burger}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
            {{/unless}}
        {{/each}}
    </ul>

<h2>Add A Burger</h2>
    <form class = "create-burger-form">
        <div>
            <h3>New Burger:</h3>
            <input type = "text" id = "newBurger" name = "burgerName" placeholder = "New Burger Here!">
        </div>

        <button type = "submit">Add</button>
    </form>

<h2>Burgers No Longer Available</h2>
    <ul>
        {{#each burger}}
            {{#unless devoured}}
                {{> burgers/burger-block devoured=true}}
            {{/unless}}
        {{/each}}
    </ul>